@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Grange";
  src: url("@/assets/fonts/Grange/grange_medium_extended.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Grange";
  src: url("@/assets/fonts/Grange/grange_light_extended.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@/assets/fonts/Proxima Nova/proximanova_regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("@/assets/fonts/Proxima Nova/proximanova_medium.otf");
  font-weight: 500;
}

@layer base {
  :root {
    --primary-color: #c3edff;
    --primary-darker: #aaddf3;
    --background-color: #ffffff;
    --foreground-color: #1c2635;
    --muted-content: #eef7fb;
    --content: #ffffff;
    --muted-foreground: #677487;
    --border-color: #5bc1ed;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova";
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3 {
    font-family: "Grange";
  }

  h1 {
    @apply text-[40px] font-medium;
  }

  h2 {
    @apply text-[24px] font-medium;
  }

  p {
    @apply text-base font-normal;
  }

  .grange {
    font-family: "Grange";
  }

  button {
    font-family: "Proxima Nova";
  }

  .loader {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 3px solid var(--muted-foreground);
    animation: prixClipFix 2s linear infinite;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}
